include ../../_assets/bemto/bemto
- set_bemto_settings({ modifier: "--" })
include components/menu.pug
include components/icon.pug
include components/breadcrumb.pug
include components/pugination.pug
include components/soc.pug
include components/pic.pug
include components/img.pug
include components/btn.pug

include components/ddgroup.pug

mixin arrow()
	.swiper-button-hand.swiper-button-hand-prev.swiper-button-prev
		+icon('chevron-left')
	.swiper-button-hand.swiper-button-hand-next.swiper-button-next
		+icon('chevron-right')
//- /arrow for swiper-slider

mixin ie11()
	//- modernizer and for ie11
	 
	<!--[if lt IE 11]><p   class="browsehappy container">К сожалению, вы используете устаревший браузер. Пожалуйста, <a href="http://browsehappy.com/" target="_blank">обновите ваш браузер</a>, чтобы улучшить производительность, качество отображаемого материала и повысить безопасность.</p><![endif]-->

mixin addblock()
	+b.addBlock
		+e.btn--minus(type="button")
		input(type="text" value="1")
		+e.btn--plus(type="button")



mixin search()
	+b.search-block
		form
			input(type="text" placeholder="Поиск по каталогу")
			button 
				+icon("search")

mixin page-head(t,...items)
	+b.page-head
		- let l = items.length
		.container
			+breadcrumb('Главная',...items)

			h1= t

mixin card(data)
	+b.card
		if data.label
			+e.label(class=(data.label=='Акция' ? '--sale' : ''))!= data.label
		+e.control-wrap
			+e.link(href='#' class=data.linkActiveClass): +icon('bar-chart')
			+e.link(href='#' class=data.linkActiveClass): +icon('like')
		+e.slider--js.swiper
			.swiper-wrapper
				-for(let i = 0; i < 4; i++)
					+e.slide.swiper-slide
						+e.img-wrap(href='#')
							.img-wrap-center
								+img(`img/${data.img}`)
			.swiper-pagination
		+e.content
			+e.title!= data.title
			+e.inner-row.row
				.col-auto
						+e.price!= data.price
				.col-auto
						+e.old-price!= data.oldPrice
				.col-auto.ms-auto
					+e.info-wrap
						+e.info
							if data.inStock == 'в наличии'
								+icon('check')
								span!= data.inStock
							if data.inStock == 'под заказ'
								span.on-order!= data.inStock
						+e.add-to-cart-btn(class=data.addToCartBtnClass href='#')
							+icon('shopping-cart')
							+icon('check-circle')


mixin btnMoreLg()
	+b.BUTTON.btn.btn-more-lg
		+icon('rotate')
		span Показать ещё